resources/persons.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="persons">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="person" maxOccurs="unbounded" minOccurs="1">
     <xs:complexType>
      <xs:sequence>
	<xs:element type="xs:string" name="name"/>
	<xs:element type="xs:int" name="age"/>
      </xs:sequence>
     </xs:complexType>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
</xs:schema>
